# List

In [1]:
mylist = ['banana','cherry','apple']
mylist

['banana', 'cherry', 'apple']

In [7]:
name , ahe , haha,jjjj = mylist

In [9]:
print(name,ahe,haha,jjjj)

banana lemon cherry apple

In [3]:
if 'banana' in mylist:
    print('yes')
else:
    print('no')

yes

In [4]:
mylist.insert(1,'lemon')
mylist

['banana', 'lemon', 'cherry', 'apple']

In [5]:
my_list = [1,2,3,4,5,6]
b = [i*i for i in my_list]
print(my_list)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

# Tuple

In [10]:
import sys
my_List = [0,1,2,'hello',True]
my_tuple = (0,1,2,'hello',True)

In [11]:
print(sys.getsizeof(my_List),'bytes')
print(sys.getsizeof(my_tuple),'bytes')

96 bytes
80 bytes

# Dictonaries

In [12]:
mydict = {'name':'Max','age':28,'city':'chittagong'}
mydict

{'name': 'Max', 'age': 28, 'city': 'chittagong'}

In [13]:
mydict2 = dict(name='jahed',age = 27,city = 'chittagong')
mydict2

{'name': 'jahed', 'age': 27, 'city': 'chittagong'}

In [14]:
mydict['name']

'Max'

In [15]:
mydict['email']='abcd@gmail.com'
mydict

{'name': 'Max', 'age': 28, 'city': 'chittagong', 'email': 'abcd@gmail.com'}

In [16]:
del(mydict['email'])
mydict

{'name': 'Max', 'age': 28, 'city': 'chittagong'}

In [17]:
try:
    print(mydict['lstname'])
except:
    print('error')

error

In [18]:
for key,value in mydict.items():
    print(key,value)

name Max
age 28
city chittagong

# Set

In [19]:
myset = {1,2,3,1,2}
myset

{1, 2, 3}

In [22]:
my_set = set("Hello")
my_set

{'H', 'e', 'l', 'o'}

In [29]:
odd = {1,3,5,7,9}
even = {2,4,6,8}
primes = {2,3,5,7}
u = odd.union(primes)
i = odd.intersection(primes)
d = odd.difference(primes)
u,i,d

({1, 2, 3, 5, 7, 9}, {3, 5, 7}, {1, 9})

# String

In [31]:
mystring = 'hello \
world'
mystring

'hello world'

In [32]:
for i in mystring:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [34]:
new_string = '    hello world'
new_string = new_string.strip()
new_string

'hello world'

In [38]:
print(new_string.find('o'))

4

In [39]:
print(new_string.count("o"))

2

In [41]:
new_string = new_string.replace('world','universe')
new_string

'hello universe'

In [42]:
split_string = new_string.split()
split_string

['hello', 'universe']

In [47]:
join_string = "/".join(split_string)
join_string

'hello/universe'

In [51]:
from timeit import default_timer as timer 
my_list = ['a']*1000000


#bad practice 
start = timer()
my_string = ''
for i in my_list:
    my_string +=i

stop = timer()
print(stop - start)

#good practice 
start = timer()
my_string = ''.join(my_list)

stop = timer()
print(stop - start)

0.834976900001493
0.022726600000169128

In [60]:
#For string var
var = 'name'
my_string = 'my %s is jahed'%var
my_string

#For integer 
var = 3
my_string = 'my %d is jahed'%var
my_string

#For float
var = 3.1133
my_string = 'my %.2f is jahed' %var
my_string


var = 3.1133
var2 = 6
my_string = 'my {:.2f} is jahed {}'.format(var,var2)
my_string


var = 3.1133
var2 = 6
my_string = f'my {var} is jahed {var2}'
my_string

'my 3.1133 is jahed 6'

# Collection

In [62]:
from collections import Counter
a = 'aaabbbccccc'
my_counter = Counter(a)
print(my_counter)  #counter.values , counter,keys(), 
print(my_counter.most_common(1))

Counter({'c': 5, 'a': 3, 'b': 3})
[('c', 5)]

# itertools

In [65]:
#itertools: products, permutations , combinations, accumulate , groupby , and infinite iterators
from itertools import product
a = [1,2]
b = [3,4]
prod = product(a,b)
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [68]:
from itertools import permutations 
a = [1,2,3]
per = permutations(a,3)
print(list(per))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [70]:
from itertools import combinations 
a = [1,2,3,4]
comb = combinations(a,2)
list(comb)

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [72]:
from itertools import accumulate
a = [1,2,3,4]
print(a)
acc = accumulate(a)
list(acc)

[1, 2, 3, 4]

[1, 3, 6, 10]

In [74]:
from itertools import groupby

def smaller_than_3(x):
    return x<3

a = [1,2,3,4]
group_obj = groupby(a, key = smaller_than_3)
for key, value in group_obj:
    print(key, list(value))
    
    
group_obj = groupby(a, key = lambda x:x<3)
for key, value in group_obj:
    print(key, list(value))

True [1, 2]
False [3, 4]
True [1, 2]
False [3, 4]

In [75]:
from itertools import groupby 

persons = [{'name':'Tim', 'age':25},
          {'name':'Dan','age':25},
          {'name':'Lisa','age':27},
          {'name':'Claire','age':28}]

group_obj = groupby(persons,key = lambda x:x['age'])
for key, value in group_obj:
    print(key,list(value))

25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

# Lambda

In [77]:
#Lambda arguments: expression
add10 = lambda x:x + 10 
print(add10(5))

15

In [79]:
mult = lambda x,y : x*y
print(mult(2,7))

14